In [184]:
import pandas as pd
from collections import Counter
import os
from urlextract import URLExtract 

def has_url(text):
    return URLExtract().has_urls(str(text))
def CounterProc(x):
    c = Counter(x)
    return [{k:round(c[k]/sum([c[k] for k in c]),2)} for k in c]
def CounterProcOrdered(x):
    c = Counter(x).most_common()
    df = pd.DataFrame(c, columns = ['var','n'])
    df['proc'] = round(df['n'] / sum(df['n']),2)
    return df
def remove_spaces(txt):
    return(" ".join(str(txt).split()))
os.getcwd()

'/home/j0hndoe/Documents/git/reddit-disinformation/2_findflags/all_subreddits'

# SUBMISSIONS

In [204]:
SS = pd.read_csv('../../output/SUBM_2020_04.csv')
SS.shape

(460427, 18)

In [205]:
SS.head()

,author,created_utc,domain,full_link,id,is_crosspostable,is_self,is_video,num_comments,removed_by_category,score,selftext,subreddit,title,url,created,post_hint,link_flair_text
0,BasicRedditor1997,2020-04-01 00:06:54,self.Michigan,https://www.reddit.com/r/Michigan/comments/fsm...,t3_fsmgtb,False,True,False,3,moderator,1,[removed],Michigan,Do you want to see a law that prohibits the sp...,https://www.reddit.com/r/Michigan/comments/fsm...,1.585685e+09,NaN,NaN
1,SupremoZanne,2020-04-01 00:12:30,self.Ludington,https://www.reddit.com/r/Michigan/comments/fsm...,t3_fsmkon,True,False,False,0,NaN,0,NaN,Michigan,There is a reason why US-31 needs a freeway bu...,/r/Ludington/comments/cafsph/summer_traffic/,1.585686e+09,NaN,NaN
2,kyfto,2020-04-01 00:16:05,self.Michigan,https://www.reddit.com/r/Michigan/comments/fsm...,t3_fsmn1z,False,True,False,2,moderator,1,[removed],Michigan,Michigan Lottery = COVID-19 Essential Service?,https://www.reddit.com/r/Michigan/comments/fsm...,1.585686e+09,NaN,NaN
3,abuchewbacca1995,2020-04-01 00:17:01,self.Michigan,https://www.reddit.com/r/Michigan/comments/fsm...,t3_fsmnpe,True,True,False,9,NaN,2,It's typically in Aug and want to see if they ...,Michigan,Any announcements from the dream cruise?,https://www.reddit.com/r/Michigan/comments/fsm...,1.585686e+09,NaN,NaN
4,AlphaCenturi25,2020-04-01 00:24:53,npr.org,https://www.reddit.com/r/Michigan/comments/fsm...,t3_fsmt2x,True,False,False,63,NaN,13,NaN,Michigan,"After Surge In Cases, Michigan Now 3rd In Coun...",https://www.npr.org/sections/coronavirus-live-...,1.585686e+09,link,NaN

### Summarise all

#### Subreddits

In [206]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
    display(CounterProcOrdered(SS.subreddit))

                      var      n  proc
0             Coronavirus  47418  0.10
1                    news  42786  0.09
2               worldnews  37679  0.08
3                politics  24462  0.05
4          wallstreetbets  19426  0.04
5              conspiracy  19173  0.04
6          ChapoTrapHouse  14582  0.03
7                   india  11979  0.03
8           worldpolitics  11164  0.02
9               China_Flu   9015  0.02
10           Conservative   8617  0.02
11               business   8581  0.02
12          CoronavirusUS   7342  0.02
13       CoronavirusMemes   6467  0.01
14                POLITIC   6307  0.01
15            IndiaSpeaks   6119  0.01
16                 Health   5812  0.01
17                 europe   5601  0.01
18           WayOfTheBern   5466  0.01
19                ireland   5198  0.01
20             technology   5071  0.01
21        dataisbeautiful   4954  0.01
22          TechNewsToday   4926  0.01
23                   tech   4718  0.01
24              australia   4618  0.01
25              singapore   4451  0.01
26                    SEO   4393  0.01
27                  trump   4378  0.01
28            nottheonion   4235  0.01
29                atheism   4217  0.01
30                COVID19   4121  0.01
31                 canada   3978  0.01
32          unitedkingdom   3886  0.01
33              vancouver   3876  0.01
34             neoliberal   3663  0.01
35          CoronavirusUK   3401  0.01
36             newzealand   3345  0.01
37   quarantineactivities   3297  0.01
38                    nyc   3251  0.01
39             ukpolitics   3249  0.01
40            Libertarian   3197  0.01
41          UpliftingNews   3178  0.01
42    LateStageCapitalism   2977  0.01
43                  China   2956  0.01
44               pakistan   2640  0.01
45               technews   2424  0.01
46                 ottawa   2398  0.01
47                toronto   2292  0.00
48              Economics   2081  0.00
49                   Sino   1989  0.00
50                ontario   1958  0.00
51               Michigan   1870  0.00
52                science   1861  0.00
53          DrainTheSwamp   1850  0.00
54      CanadaCoronavirus   1835  0.00
55              indianews   1779  0.00
56             metacanada   1693  0.00
57   CoronavirusRecession   1632  0.00
58                economy   1623  0.00
59            environment   1543  0.00
60               collapse   1510  0.00
61             Republican   1484  0.00
62             healthcare   1480  0.00
63   CoronavirusDownunder   1476  0.00
64                bayarea   1451  0.00
65             Futurology   1428  0.00
66               medicine   1416  0.00
67             POTUSWatch   1388  0.00
68                florida   1383  0.00
69               maryland   1302  0.00
70  CoronaVirus_2019_nCoV   1166  0.00
71              democrats   1147  0.00
72          CoronavirusCA   1113  0.00
73             uspolitics   1112  0.00
74              SeattleWA   1095  0.00
75          conservatives   1089  0.00
76              inthenews   1060  0.00
77         PoliticalVideo   1031  0.00
78         onguardforthee   1014  0.00
79            TheNewRight    932  0.00
80         CanadaPolitics    842  0.00
81      EverythingScience    827  0.00
82          CoronaVirusTX    812  0.00
83            The_Mueller    783  0.00
84          CoronavirusWA    783  0.00
85                 USNEWS    752  0.00
86                skeptic    602  0.00
87               healthIT    486  0.00
88                usanews    465  0.00

#### Top flairs

Note: 1% literally self-labeled as 'shitpost'

In [223]:
CounterProcOrdered(SS.link_flair_text)[:10]

                      var       n  proc
0                     NaN  258334  0.56
1                     USA   13422  0.03
2              Discussion   12190  0.03
3                COVID-19    9805  0.02
4                   World    7404  0.02
5                Shitpost    5614  0.01
6             Coronavirus    5440  0.01
7  US politics (domestic)    5187  0.01
8                    News    4929  0.01
9                  Europe    4172  0.01

### CONTENT: type of reference

#### Top domains referenced in submissions

In [215]:
CounterProcOrdered(SS.post_hint)

            var       n  proc
0           NaN  219136  0.48
1          link  163888  0.36
2         image   39506  0.09
3    rich:video   23733  0.05
4          self   10765  0.02
5  hosted:video    3398  0.01
6         video       1  0.00

#### Reference

In [209]:
CounterProcOrdered(SS.domain)[:20]

                     var      n  proc
0              i.redd.it  50249  0.11
1            youtube.com  17870  0.04
2               youtu.be  14762  0.03
3    self.wallstreetbets  11420  0.02
4        self.conspiracy   9149  0.02
5   121private.home.blog   7276  0.02
6            twitter.com   6973  0.02
7    self.ChapoTrapHouse   5378  0.01
8        theguardian.com   5154  0.01
9            reuters.com   4779  0.01
10           nytimes.com   4504  0.01
11               cnn.com   4362  0.01
12        arabwindow.net   4139  0.01
13        news.lnhax.com   3855  0.01
14           thehill.com   3684  0.01
15             v.redd.it   3429  0.01
16            self.india   3403  0.01
17           i.imgur.com   3257  0.01
18    self.CoronavirusUS   3033  0.01
19      en.neroonews.com   2971  0.01

Note: the table above might not be accurately representing the proportions, since half of the posts have a missing value

#### Is crosspostable (?)

In [210]:
CounterProcOrdered(SS.is_crosspostable)

     var       n  proc
0  False  230304   0.5
1   True  230123   0.5

#### Is self post (text without any link)

In [212]:
CounterProcOrdered(SS.is_self)

     var       n  proc
0  False  380051  0.83
1   True   80376  0.17

#### Is video

In [213]:
CounterProcOrdered(SS.is_video)

     var       n  proc
0  False  455327  0.99
1   True    5100  0.01

### Removed submissions (NaN = "not removed")

In [217]:
CounterProcOrdered(SS.removed_by_category)

                var       n  proc
0               NaN  245698  0.53
1         moderator  113208  0.25
2            reddit   57242  0.12
3           deleted   25553  0.06
4  automod_filtered   18706  0.04
5            author      19  0.00
6     anti_evil_ops       1  0.00

### Score

In [243]:
CounterProcOrdered(pd.cut(x=SS['score'], bins=[-1000000, -100, -10, -1, 1, 100, 1000000]).apply(str))

              var       n  proc
0         (-1, 1]  360956  0.78
1        (1, 100]   89155  0.19
2  (100, 1000000]   10316  0.02

<hr>

# COMMENTS

In [140]:
CCC = pd.read_csv('../../output/COMM_2020_04.csv', lineterminator='\n')
CCC.shape

(2424431, 12)

### Summarise all

#### Subreddits

In [190]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
    display(CounterProcOrdered(CCC.subreddit))

                      var       n  proc
0                politics  572609  0.24
1             Coronavirus  544517  0.22
2               worldnews  301939  0.12
3                    news  151752  0.06
4                  canada   60339  0.02
5            Conservative   44399  0.02
6             nottheonion   43512  0.02
7              ukpolitics   43198  0.02
8                 science   35153  0.01
9               China_Flu   33985  0.01
10          unitedkingdom   33123  0.01
11             conspiracy   32608  0.01
12             technology   28472  0.01
13          UpliftingNews   26595  0.01
14              australia   25348  0.01
15                 europe   24543  0.01
16             Futurology   23503  0.01
17                atheism   19956  0.01
18                  india   19876  0.01
19         wallstreetbets   19818  0.01
20                COVID19   19060  0.01
21            Libertarian   14456  0.01
22              singapore   14401  0.01
23                toronto   12468  0.01
24              Economics   12212  0.01
25          worldpolitics   12132  0.01
26             newzealand   11818  0.00
27          CoronavirusUS   11176  0.00
28              vancouver   10249  0.00
29               collapse    9463  0.00
30             neoliberal    8418  0.00
31                ontario    8176  0.00
32         CanadaPolitics    7985  0.00
33          CoronavirusUK    7395  0.00
34                ireland    7278  0.00
35      CanadaCoronavirus    7009  0.00
36                    nyc    6611  0.00
37         ChapoTrapHouse    6536  0.00
38                  China    6292  0.00
39               Michigan    5864  0.00
40              SeattleWA    5848  0.00
41            IndiaSpeaks    5630  0.00
42           WayOfTheBern    5599  0.00
43                POLITIC    5533  0.00
44                bayarea    5438  0.00
45         onguardforthee    5280  0.00
46             metacanada    5165  0.00
47      EverythingScience    5110  0.00
48          DrainTheSwamp    5039  0.00
49                  trump    4858  0.00
50                economy    4472  0.00
51                   Sino    4428  0.00
52             Republican    4291  0.00
53          TechNewsToday    4246  0.00
54              democrats    3756  0.00
55               technews    3617  0.00
56                florida    3592  0.00
57          CoronavirusCA    3582  0.00
58                 ottawa    3572  0.00
59            The_Mueller    3539  0.00
60        dataisbeautiful    3330  0.00
61            environment    3169  0.00
62               business    3080  0.00
63                   tech    2995  0.00
64   CoronavirusDownunder    2940  0.00
65                skeptic    2694  0.00
66          CoronaVirusTX    2687  0.00
67   CoronavirusRecession    2683  0.00
68               medicine    2526  0.00
69          conservatives    2482  0.00
70          CoronavirusWA    2332  0.00
71              inthenews    2147  0.00
72    LateStageCapitalism    1865  0.00
73              indianews    1760  0.00
74             uspolitics    1569  0.00
75               maryland    1563  0.00
76               pakistan    1489  0.00
77                 Health    1423  0.00
78             POTUSWatch    1177  0.00
79                 USNEWS     900  0.00
80             healthcare     801  0.00
81   quarantineactivities     680  0.00
82            TheNewRight     334  0.00
83  CoronaVirus_2019_nCoV     315  0.00
84                usanews     299  0.00
85         PoliticalVideo     143  0.00
86       CoronavirusMemes     138  0.00
87                    SEO      49  0.00
88               healthIT      22  0.00

#### Percentage of comments made by moderators

In [191]:
CounterProcOrdered(CCC.distinguished)

         var        n  proc
0        NaN  2340286  0.97
1  moderator    84145  0.03

#### Percentage of edited comments

In [192]:
CounterProcOrdered(CCC.edited!='False')

     var        n  proc
0  False  2394987  0.99
1   True    29444  0.01

#### Percentage of collapsed comments (hidden by moderators, I think)

In [193]:
CounterProcOrdered(CCC.collapsed)

     var        n  proc
0  False  2216898  0.91
1   True   207533  0.09

#### Percentage of no_follow (???)

In [194]:
CounterProcOrdered(CCC.no_follow)

     var        n  proc
0   True  2220678  0.92
1  False   203753  0.08

#### Percentage of comments with URLs

In [200]:
CounterProcOrdered(CC.body.sample(2000).apply(has_url))

     var     n  proc
0  False  1938  0.97
1   True    62  0.03

### Check if all are levels 1 and 2

In [197]:
CounterProcOrdered(CCC.parent_id[[c[:3]=="t1_" for c in CCC.parent_id]].isin(CCC.id))

    var        n  proc
0  True  1011452   1.0

#### Percentage of comments that are direct replies to submission (level 1, t3_ ) vs are replies to the direct replies (level 2, t1_ )

In [198]:
CounterProcOrdered([c[:3] for c in CCC.parent_id])

   var        n  proc
0  t3_  1412979  0.58
1  t1_  1011452  0.42

### Score

In [254]:
CounterProcOrdered(pd.cut(x=CCC['score'], bins=[-1000000, -100, -10, -1, 1, 100, 1000000]).apply(str)).iloc[[5,3,2,0,1,4]]

                var        n  proc
5  (-1000000, -100]       57  0.00
3       (-100, -10]     6938  0.00
2         (-10, -1]    36636  0.02
0           (-1, 1]  2069653  0.85
1          (1, 100]   306495  0.13
4    (100, 1000000]     4652  0.00